* {
  box-sizing: border-box;
}

/* .first-letter {
} */

p::first-letter {
  font-size: 30px;
  color: red;
}

p::first-line {
  font-style: italic;
}

body {
  background-color: burlywood;
}

*::selection {
  background-color: grey;
}

p::before {
  content: 'Paragraph: ';
}

p::after {
  content: ' - End of paragraph';
}

/* Обгорнути заголовок в << >> лапки */

h1::before {
  content: '<<';
}

h1::after {
  content: '>>';
}

li::marker {
  color: aqua;
}
